

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}















