{% extends 'base.html' %}

{% block title %}GDG Store{% endblock %}

{% block description %}This page is an awesome home page.{% endblock %}


{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>{{ some_dynamic_value }}</h1>

        <p>Welcome to a very mediocre continuous delivery solution!. We have all the official products you love and want. Browse and get excited! As Sweet as Ever!!</p>

        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Some change for funzies...</h2>

            <p>The only T-Shirt that is as sweet as Floro powder but as durable as silk. Wear it and when you get tired of it eat it! Now available in XXL for those of you who like its flavor too much.</p>

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Sweet Mugs</h2>

            <p>Out coolest mugs. Chose from dozen of designs and sizes. And remember it makes your drink sweet! </p>

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Floro Action Figure</h2>

            <p>Our amazing pet-hero Floro now in action figures. High quality action figures of the sweetest hero of the Cloudy Kingdom. In all sizes and colors.</p>

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>
</div> <!-- /container -->
{% endblock %}
